/* Celulares pequenos */
@media screen and (max-width: 390px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    li {
        margin: 10px 0;
    }

    main {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px; /* espaço entre aside e article */
        padding: 20px 10px;
    }

    aside {
        font-size: 16px;
        padding: 0 10px;
    }

    aside h2 {
        font-size: 40px;
    }

    aside p {
        font-size: 15px;
        margin-bottom: 15px;
    }

    button,
    #wpp,
    #but,
    #cotacao-btn li {
    font-size: 16px !important;
    padding: 8px 16px !important;
    }

    article {
        margin: 0 auto;
        margin-top: 10px;
        width: 100%;
    }

    article img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .services {
        margin-top: 60px;
        padding: 10px;
    }

    .n1{
        font-size: 35px;
    }

    .n2, .n3{
        font-size: 16px !important;
    }

    .t1{
        font-size: 30px !important;
    }

    .t2{
        font-size: 18px !important;
    }

    .b1{
        font-size: 30px !important;
    }

    .b2{
        font-size: 18px !important;
    }

    .prova-social {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
      }

    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-column {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 428px) {
    aside h2 {
        font-size: 40px; /* Ajuste conforme necessário */
        line-height: 0.8;
        text-align: center;
    }

    aside p {
        font-size: 20px;
        line-height: 0.8;
        text-align: center;
    }

    button,
    #wpp,
    #but,
    #cotacao-btn li {
        font-size: 18px !important;
        padding: 6px 8px !important;
    }

    article {
        width: 100%;
        margin: 0 auto;
    }

    article img {
        width: 100%;
        border-radius: 12px;
    }

    .services {
        margin-top: 50px;
        padding: 15px;
    }

    .n1 {
        font-size: 36px;
    }

    .n2, .n3 {
        font-size: 17px !important;
    }

    .t1 {
        font-size: 32px !important;
    }

    .t2 {
        font-size: 19px !important;
    }

    .b1 {
        font-size: 32px !important;
    }

    .b2 {
        font-size: 19px !important;
    }

    .prova-social {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }

    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-column {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 430px) {
    aside h2 {
        font-size: 40px; /* Ajuste conforme necessário */
        line-height: 0.8;
        text-align: center;
    }

    aside p {
        font-size: 20px;
        line-height: 0.8;
        text-align: center;
    }

    button,
    #wpp,
    #but,
    #cotacao-btn li {
        font-size: 18px !important;
        padding: 6px 8px !important;
    }

    article {
        width: 100%;
        margin: 0 auto;
    }

    article img {
        width: 100%;
        border-radius: 12px;
    }

    .services {
        margin-top: 50px;
        padding: 15px;
    }

    .n1 {
        font-size: 36px;
    }

    .n2, .n3 {
        font-size: 17px !important;
    }

    .t1 {
        font-size: 32px !important;
    }

    .t2 {
        font-size: 19px !important;
    }

    .b1 {
        font-size: 32px !important;
    }

    .b2 {
        font-size: 19px !important;
    }

    .prova-social {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }

    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-column {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 440px) {
    aside h2 {
        font-size: 40px; /* Ajuste conforme necessário */
        line-height: 0.8;
        text-align: center;
    }

    aside p {
        font-size: 20px;
        line-height: 0.8;
        text-align: center;
    }

    button,
    #wpp,
    #but,
    #cotacao-btn li {
        font-size: 18px !important;
        padding: 6px 8px !important;
    }

    article {
        width: 100%;
        margin: 0 auto;
    }

    article img {
        width: 100%;
        border-radius: 12px;
    }

    .services {
        margin-top: 50px;
        padding: 15px;
    }

    .n1 {
        font-size: 36px;
    }

    .n2, .n3 {
        font-size: 17px !important;
    }

    .t1 {
        font-size: 32px !important;
    }

    .t2 {
        font-size: 19px !important;
    }

    .b1 {
        font-size: 32px !important;
    }

    .b2 {
        font-size: 19px !important;
    }

    .prova-social {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }

    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-column {
        margin-bottom: 20px;
    }
}

/* Celulares maiores e tablets */
@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
        align-items: center;
        font-size: 30px;
    }

    h2{
        font-size: 80px;
    }

    aside p {
        line-height: 35px !important; 
        margin-bottom: 20px;
    }

    #but{
        font-size: 30px;
    }

    article {
        margin-top: 30px;  /* Ajuste o valor conforme necessário para o espaçamento desejado */
    }
    

    article {
        display: flex;
        justify-content: center;
        margin-left: 0;
    }

    article img {
        display: block;
        margin: 0 auto;
        line-height: 30px;
    }

    .n1{
        line-height: 70px;
    }

    .n2, .n3{
        font-size: 25px;
        line-height: 35px;
    }

    .t1{
        font-size: 65px;
    }

    .t2{
        font-size: 25px;
        line-height: 35px;
    }

    .b1{
        font-size: 65px;
    }

    .b2{
        font-size: 25px;
        line-height: 35px;
    }

    .wpp{
        font-size: 45px;
    }

    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-column {
        margin-bottom: 20px;
    }

    .services h2, .services p {
        text-align: center;
    }

    button {
        font-size: 20px;
    }
}

/* Tablets maiores até o desktop */
@media screen and (max-width: 1024px) {
    header {
        flex-direction: column;
    }

    ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    #title {
        width: 100%;
        justify-content: center;
    }

    .logo-img {
        width: 60%;
    }

    .footer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}
