body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f2f5;
    font-family: Montserrat, sans-serif;
    background-color: #8394ff;
}

.container {
    display: flex;
    flex-direction: column;  /* empilha itens verticalmente */
    align-items: center;     /* centra horizontalmente itens dentro */
    background: #fff;
    padding: 2rem 10rem;
    border-radius: 8px;
    box-shadow: 0 6px 24px rgba(0,0,0,0.1);
    width: 320px;
}

.container h1 {
    font-size: 1.5rem; /* menor tamanho */
    color: #8394ff;
    margin-bottom: 1.5rem;
    letter-spacing: 0.5px;
  }

.container input {
    width: 100%;
    margin-bottom: 1rem;
}

.container input {
    width: 100%;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    border: 2px solid #888888;
    border-radius: 6px;
    font-size: 1rem;
    transition: border-color 0.2s, box-shadow 0.2s;
    outline: none; /* remove a linha de foco azul padrão */
}

.container input:focus {
    border-color: #8394ff;
    box-shadow: 0 0 0 3px rgba(131,148,255,0.2);
}

#btnLogin {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 0.75rem;
    background: #8394ff;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s;
}

  #btnLogin:hover {
    background: #6f7de6;
}

#btnSignup {
    background: transparent;
    color: #8394ff;
    font-size: 0.875rem; /* tamanho menor */
    border: none;
    cursor: pointer;
    text-decoration: underline;
    transition: color 0.2s;
  }
  #btnSignup:hover {
    color: #6f7de6;
  }

.logo{
    width: 500px;
    margin-bottom: 0.75rem
}

/* PÁGINA HOME */
